  <footer class="page-footer orange">
    <!--
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">footer link 1</h5>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">footer link 2</h5>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">footer link 3</h5>
        </div>
      </div>
    </div>
    -->
    <div class="footer-copyright">
        <div class="container">
            <div>
                <span style="text-align: right; float: right">
                  Software and content available under <a href="https://github.com/shaisachs/progressive-workshop/blob/main/LICENSE.txt">MIT License</a>.
                </span>
            </div>
        </div>
    </div>
</footer>